@-ms-viewport {
	width: device-width;
}

#form_add_edit label[for=entry_private] {
	display: inline;
	margin-top: 7%;
}

#form_add_edit input[name=entry_private] {
	display: inline;
	width: auto;
	-webkit-transform: scale(2);
	transform: scale(2);
	margin-top: 7%;
	margin-left: 5%;
}
